<div class="row">
    <div class="column">
     <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
    <div class="column">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>